body{
    background:linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
.main{
    box-sizing:border-box;
    border:2px solid black;
    height:14rem;
    width:40%;
    background-color:white;
    color:black;
    position:relative;
    left:23.5rem;
    border:none;
    border-radius:8px;
    
}
.main h2{
    text-align:center;
    font-family:'Poppins';
    font-size:2rem;
}
.main2 h2{
    text-align:center;
    font-family:'Poppins';
    font-size:2rem;
}
.main p{
    font-family:'Poppins';
    font-size:1.1rem;
    font-weight:bold;
    text-align:center;
}
.main2 p{
    font-family:'Poppins';
    font-size:1.1rem;
    font-weight:bold;
    text-align:center;
    
}
.main2{
    box-sizing:border-box;
    border:2px solid black;
    background-color:white;
    color:black;
    height:20rem;
    width:40%;
    position:relative;
    top:50%;
    left:30%;
    border:none;
    border-radius:8px;
}
.btn1{
    height:3rem;
    width:40%;
    border:none;
    border-radius:22px;
    background-color:rgb(128, 170, 255);
    font-size:1.2rem;
    font-family:'Poppins';
    font-weight:bold;
    position:relative;
    left:9.2rem;
}
.btn2{
    height:3rem;
    width:40%;
    border:none;
    border-radius:22px;
    background-color:rgb(128, 170, 255);
    font-size:1.2rem;
    font-family:'Poppins';
    font-weight:bold;
    position:relative;
    left:9.2rem;
}
.btn1:hover{
    background-color: rgb(51, 119, 255);
    color:white;
    cursor:pointer;
}
.btn2:hover{
    background-color:rgb(51, 119, 255);
    color:white;
    cursor:pointer;
}